
model __Domain__ {
  id          String   @id @default(uuid())
  sku         String   @unique
  name        String
  price       Float
  description String?
  createdBy   String?  @map("CREATE_BY")
  createdAt   DateTime @default(now()) @map("CREATE_AT")
  updatedBy   String?  @map("LAST_UPDATE_BY")
  updatedAt   DateTime @updatedAt @map("LAST_UPDATE_AT")

  @@map("__domain__")
}
