/* @import url("https://font.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@400;600;700&family=IBM+Plex+Sans+Thai:wght@400;600;700&family=IBM+Plex+Sans:wght@400;600;700&display=swap"); */


/* @import '@react-pdf-viewer/core/lib/styles/index.css';
@import '@react-pdf-viewer/toolbar/lib/styles/index.css'; */

/* @font-face {
  font-family: 'IBMPlexSansThai';
  src: url('../assets/fonts/IBMPlexSansThai-Regular.ttf') format('truetype'),
  url('../assets/font/IBMPlexSansThai-Bold.ttf') format('truetype'),
  url('../assets/font/IBMPlexSansThai-SemiBold.ttf') format('truetype'),
  url('../assets/font/IBMPlexSansThai-Medium.ttf') format('truetype'),
  url('../assets/font/IBMPlexSansThai-Light.ttf') format('truetype'),
  url('../assets/font/IBMPlexSansThai-ExtraLight.ttf') format('truetype'),
  url('../assets/font/IBMPlexSansThai-Thin.ttf') format('truetype');
} */

@font-face {
  font-family: "IBM Plex Sans Thai";
  src: url("../assets/font/IBMPlexSansThai-Thin.ttf") format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: "IBM Plex Sans Thai";
  src: url("../assets/font/IBMPlexSansThai-ExtraLight.ttf") format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: "IBM Plex Sans Thai";
  src: url("../assets/font/IBMPlexSansThai-Light.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "IBM Plex Sans Thai";
  src: url("../assets/font/IBMPlexSansThai-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Sans Thai";
  src: url("../assets/font/IBMPlexSansThai-Medium.ttf") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "IBM Plex Sans Thai";
  src: url("../assets/font/IBMPlexSansThai-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "IBM Plex Sans Thai";
  src: url("../assets/font/IBMPlexSansThai-Bold.ttf") format('truetype');
  font-weight: 700;
}






@tailwind base;
@tailwind components;
@tailwind utilities;
